*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(167, 211, 225);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font: 600 25px 'Lucida', sans-serif;
}

#free, .trocaBG {
    background-color: rgb(167, 211, 225);;
    color: white;
}
h1 {
    font: 800 40px 'Poppins', sans-serif;
}

table {
    border: 3px solid black;
    border-collapse: collapse;
    background-color: white;
}

th {
    background-color: black;
    color: white;
}

th, td {
    padding: 10px;
    border: 1px solid black;
    text-align: center;
    width: 20%;
}

#free, .trocaBG {
    background-color: rgb(155, 198, 211);
    color: white;
}

a {
    color: rgb(116, 147, 243);
}
p{
    margin-top: 20px;
}
